$bright:#2C405A;
$main-bg: #f2f2f2;
$lec-bg:#fff;
$main-text:#000;
$light-text: #818C99;
$white:#fff;
$black:#000;
$input-inactive:#EBEBF2;
$input-active:#fff;
$red: #C11d1d;
$border-radius-1: 10px;
$border-radius-2: 12px;
$input-text-inactive: #797E8C;
@font-face {
    font-family: "Rutube";
    src: url("../font/RF_RUTUBE_Medium.ttf");
}

$rutube: "Rutube";